<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvel.fast_potato" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserDashboardActivity"
            android:label="@string/title_activity_user_dashboard" >
        </activity>
        <activity
            android:name=".InitialUserInteraction"
            android:label="@string/title_activity_initial_user_interaction" >
        </activity>
        <activity
            android:name=".activities.LearningActivity"
            android:label="@string/title_activity_quiz"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuizLoaderActivity"
            android:label="@string/title_activity_quiz_loader" >
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activities.RegisterCourseActivity"
            android:label="@string/title_activity_register_course" >
        </activity>
    </application>

</manifest>
